@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;1,200;1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Mulish", "sans-serif";
    font-weight: 200;
}

.main-container {
    background-color: #fddcb52b;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

:root {
    --primary-color: bisque;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}

p {
    font-size: 14px;
    color: var(--light-grey-color);
}

h1 {
    font-size: 32px;
}

h2,
a {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 13px;
}

.margin {
    margin-bottom: 40px;
    margin-top: 40px;
}

.black {
    background: rgba(0, 0, 0, 59%);
    padding: 10px;
    width: 50%;
    color: var(--white-color);
    margin-left: 317px;
}


/*Navigation*/

.navbar {
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: var(--white-color);
}

.navbar.active {
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: var(--white-color);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.logo img {
    position: fixed;
    top: -22px;
    left: 10px;
}

.navbar .navbar-items ul {
    display: flex;
    margin-top: 5px;
}

.navbar .navbar-items li {
    height: 35px;
}

.navbar .navbar-link {
    color: var(--light-grey-color);
    margin: 0 10px;
    padding: 10px 15px;
    transition: all 0.2s;
}

.navbar .navbar-items a {
    color: var(--grey-color);
    position: relative;
    text-decoration: none;
    transition: color 0.4s ease-out;
}

.navbar .navbar-items a:hover {
    color: var(--grey-color);
    right: 0;
    text-decoration: none;
}

.navbar .navbar-items a:hover:after {
    border-color: var(--primary-color);
    right: 0;
}

.navbar .navbar-items a:after {
    border-radius: 1em;
    border-top: 0.1em solid var(--primary-color);
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.14em;
    left: 0;
    transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

.navbar .navbar-items a:hover:after {
    right: 0;
}

.navbar .navbar-items ul li ul {
    position: relative;
    display: block;
    top: -4px;
    left: 27px;
    width: 150px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.navbar .navbar-items ul li:hover ul {
    opacity: 1;
    visibility: visible;
}


/* Hamburger nav*/

.nav {
    background: var(--secondary-color);
    position: absolute;
    right: 0;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3em 6em;
    line-height: 50px;
}

.nav__item {
    margin-bottom: 3em;
}

.nav__link {
    text-decoration: none;
    color: var(--grey-color);
}

.nav .nav__list a {
    color: var(--grey-color);
    position: relative;
    text-decoration: none;
    transition: color 0.4s ease-out;
}

.nav .nav__list a:hover {
    color: var(--grey-color);
    right: 0;
    text-decoration: none;
}

.nav .nav__list a:hover:after {
    border-color: var(--primary-color);
    right: 0;
}

.nav .nav__list a:after {
    border-radius: 1em;
    border-top: 0.1em solid var(--primary-color);
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.14em;
    left: 0;
    transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

.nav__link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.nav__toggle {
    position: absolute;
    top: 0.6em;
    left: -0.2em;
    transform: translateX(-100%);
    background: var(--secondary-color);
    padding: 1em 0.5em;
    border: 0;
    border-radius: 0.25em 0 0 0.25em;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--grey-color);
    transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}


/* Navigation open styles */

.nav-open .nav {
    transform: translateX(0);
    animation: boomerang_list_in 1s ease forwards;
}


/* Change this stuff below */

.nav-open .nav__toggle {
    animation: boomerang_hamburger_in 1s ease forwards;
}

.nav-open .hamburger {
    transform: rotate(45deg);
}

.nav-open .hamburger::before {
    opacity: 0;
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
}

.nav-close .nav__toggle {
    animation: boomerang_hamburger_out 1s ease forwards;
}

.nav-close .nav {
    animation: boomerang_list_out 1s ease forwards;
}

@keyframes boomerang_list_in {
    0% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes boomerang_hamburger_in {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes boomerang_list_out {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes boomerang_hamburger_out {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* End of hamburger */


/* Banner Image*/

.banner-image {
    background: url("../images/pp1.jpg") no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image-k {
    background: url("../images/k3.jpg") no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image-b {
    background: url("../images/b2.jpg") no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image-ws {
    background: url("../images/ws2.jpg") no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    text-align: center;
    color: #fff;
}

.banner-content h1 {
    display: inline-grid;
    width: 600px;
    height: 113px;
    padding: 13px;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: 600;
    background: rgba(0, 0, 0, 59%);
}

.banner-content h1 span {
    color: var(--white-color);
    padding: 3px;
}


/*Column*/

.column {
    display: inline;
    width: 33%;
}

.column img {
    margin: 10px 7px;
    width: 270px;
    height: 250px;
}

.column .btn:hover {
    background-color: blanchedalmond;
    color: black;
}

.column .btn-outline-dark {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}


/* popular tours */

.popular-tours {}

.popular-tours-heading {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 32rem;
    position: relative;
    perspective: 150rem;
}

.card-image {
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}

.front-side {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change>.front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
}

.tour-name {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
}

.card-list {
    width: 80%;
    margin: auto;
    padding: 10px 20px;
}

.card-list-item {
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 2rem 0;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 1.5rem;
}

.back-side {
    position: absolute;
    top: 0;
    background-color: var(--grey-color);
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    transition: opacity 0.2s, transform 0.4s, box-shadow 0.4s;
}

.change>.back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.5rem 2rem #aaa;
    opacity: 0.9;
}

.tour-price {
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
    margin-top: 170px;
}

.card-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--light-grey-color);
    border: none;
    margin-left: 145px;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.navigation-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--light-grey-color);
    border-radius: 0.3rem;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
}


/* end of popular tours */


/*Stories*/

.stories {
    padding: 3.5rem 0;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4rem;
}

.bg-video {
    width: 100%;
    height: 93%;
    object-fit: cover;
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg {
    background-color: rgba(238, 238, 238, 0.85);
    padding: 38px;
    width: 60%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
    transform: skew(20deg);
    margin-bottom: 40px;
}

.story {
    transform: skew(-20deg);
    display: flex;
}

.story-image {
    margin-top: 18px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.story-text {
    letter-spacing: 2.5px;
}

.story-heading {
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 10px;
}

.story-paragraph {
    color: var(--light-grey-color);
}

.story-paragraph::first-letter {
    margin-left: 10px;
}


/*End of stories*/


/*Contact section*/

#contact .contact {
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.contact-items {
    width: 100%;
    display: inline-flex;
}

.contact-item {
    margin-left: 16px;
    width: 30%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0 0 0 / 58%);
    transition: 0.3s ease box-shadow;
}

.contact-item .icon {
    width: 50px;
    margin: 10px 82px;
}

.contact-item:hover {
    box-shadow: 0 0 5px 0 rgb(255, 182, 93);
}

.contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.contact-info h1 {
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-info h2,
.contact-info a {
    color: red;
}

.contact-info p {
    line-height: 23px;
    font-weight: 400;
}


/*End of contact section*/


/*Contact*/

.concact {
    padding: 65px 0;
    text-align: center;
    background: url(../images/ws3.jpg) center no-repeat;
    background-size: cover;
    animation: concact-bg 44s infinite;
}

h1.contact-heading {
    color: var(--white-color);
    text-transform: uppercase;
    text-shadow: 0 3px 4px #000;
}

.concact-form {
    width: 650px;
    height: 520px;
    background-color: rgb(255 255 255 / 70%);
    margin: auto;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem #000;
    padding: 25px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.input-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 37px 17px 7px 17px;
    background-color: #80808063;
    border: 0.1rem solid #8080802e;
    font-size: 16px;
    color: var(--light-grey-color);
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border: 0.1rem solid #ccc;
}

.input-group label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #a52929;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--grey-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-btn:hover {
    background-color: #a52929;
}

.input-group textarea {
    max-height: 15rem;
    max-width: 100%;
}

@keyframes concact-bg {
    0% {
        background-color: var(--primary-color);
    }
    25% {
        background-color: #f7c78ce0;
    }
    50% {
        background-color: #e2bf95dc;
    }
    75% {
        background-color: #f8c382bf;
    }
    100% {
        background-color: var(--primary-color);
    }
}


/*End of Concact*/


/*Button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 2px;
    z-index: 99;
    border: none;
    outline: none;
    background: rgb(255 249 243);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
}

#myBtn:hover {
    background-color: rgb(255, 209, 153);
}


/* Featured categories */

.sproducts {
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    transition: transform 0.5s;
}

.sproducts img {
    width: 100%;
    height: 78%;
}

.tittle {
    text-align: center;
    position: relative;
    line-height: 30px;
}

.sproducts h4 {
    font-weight: 200;
    font-family: serif;
}

.sproducts:hover {
    transform: translateY(-8px);
}

.tittle::after {
    content: "";
    background: var(--primary-color);
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -14%;
    left: 50%;
    transform: translateX(-50%);
}


/*=== FIXED BACKGROUND IMG ===*/

.fixed-background {
    padding: 12rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.fixed {
    background-image: url("../images/kitchen_table.jpg");
    position: fixed;
    /*  opacity: .3;  ZA FIKSIRANU SLIKU*/
}

.fixed-background {
    position: relative;
    margin: 40px;
    width: 100%;
    z-index: 1;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 95.5%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.fixed-text {
    text-align: center;
}

.fixed-text p {
    font-weight: 500;
}

.fixed-text h1 {
    font-weight: 700;
}

.fixed-text small {
    font-size: 30px;
}


/* Testimonial */

.testimonal {
    display: flex;
    text-align: center;
}

.testimonal h3 {
    font-weight: 600;
}

.comments {
    padding: 10px 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonal .comments:hover {
    transform: translateY(-10px);
}

.comments img {
    padding-bottom: 8px;
    width: 100%;
    border-radius: 10%;
}


/* Footer */

.footer {
    font-family: "Questrial", sans-serif;
    background-color: rgba(0 0 0 / 87%);
    padding: 23px 0 28px 0;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-link {
    color: var(--white-color);
    margin: 0 10px;
    padding: 10px 15px;
    transition: all 0.2s;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-paragraph {
    text-align: center;
    color: var(--light-grey-color);
    letter-spacing: 3px;
    margin-top: 25px;
}


/*End of Footer*/

@media (min-width: 1020px) {
    .nav {
        display: none;
    }
}

@media (max-width: 1200px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin: 3rem 0;
    }
    .story-bg {
        width: 85%;
    }
    .navbar-items ul li {
        display: flex;
    }
}

@media (max-width: 1000px) {
    .story-bg {
        transform: skewX(0);
    }
    .story {
        transform: skewX(0);
        flex-direction: column;
        align-items: center;
    }
    .story-image {
        margin-bottom: 3rem;
    }
    .column {
        width: 100%;
    }
    .sproducts {
        flex-basis: 50%;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-link {
        flex-grow: 1;
    }
}

@media (max-width: 800px) {
    .header-paragraph {
        display: none;
    }
    .navbar .navbar-items ul {
        display: none;
    }
    .nav-open .nav__toggle {
        display: flex;
    }
    .nav-open .nav {
        margin-left: 0;
    }
    .concact-form {
        width: 50%;
    }
    .input-group input {
        width: 100%;
    }
    .footer-list {
        flex-direction: column;
        align-items: center;
    }
    .footer-link {
        margin: 5px 5px;
        font-size: 15px;
    }
    .footer-paragraph {
        font-size: 9px;
    }
    .contact-item {
        padding: 29px;
        margin: 8px;
        display: grid;
        width: 31%;
    }
    .contact-item .icon {
        margin: 0 40px;
    }
    .header {
        height: 100vh;
    }
    .contact-heading {
        font-size: 2rem;
    }
    .contact-form {
        padding: 2rem;
        height: 40rem;
    }
}

@media (max-width: 500px) {
    .navbar-items {
        display: flex;
    }
    .nav-open .nav {
        margin-left: 54px;
    }
    .black {
        margin-left: 150px;
    }
    .banner-content h1 {
        font-size: 19px;
    }
    .banner-content p {
        font-size: 12px;
        padding: 3px 43px;
    }
    .concact-form {
        width: 70%;
    }
    .input-group label {
        font-size: 12px;
    }
    .column {
        width: 100%;
    }
    .column .btn {
        font-weight: 800;
        font-size: 19px;
        margin-bottom: 19px;
    }
    .column h3 {
        font-size: 20px;
    }
    .column h4 {
        margin-left: 10px;
    }
    .contact-items {
        display: grid;
        margin-left: 25px;
        width: 900px;
    }
    .testimonal {
        display: grid;
    }
    .sproducts {
        display: grid;
        margin-left: 35px;
    }
    .sproducts img {
        width: 250px;
        height: 240px;
    }
    .ratting img {
        height: 20px;
    }
    .card {
        font-size: 17px;
    }
    .tour-name {
        right: 110px;
    }
}